{
    "capabilities": {
        "com.ibm.iis.odf.capabilities.TermAssignment": {
            "assignmentThreshold": 0.8,
            "candidateThreshold": 0.4,
            "hardLimit": 100,
            "services": "com.ibm.iis.odf.services.termassignment.finley.FinleyPredictorService,com.ibm.iis.odf.services.termclassification.matching.bg.MatcherDiscoveryService,com.ibm.iis.odf.iisext.services.cbta.ClassBasedTermAssignmentService",
            "softLimit": 0
        }
    },
    "services": {
        "com.ibm.iis.odf.iisext.services.cbta.ClassBasedTermAssignmentService": {
            "SandboxCategory": "",
            "TermsWithNoBusinessMeaning": "C,I,D,T,X,BOOL"
        },
        "com.ibm.iis.odf.services.termassignment.finley.FinleyPredictorService": {
            "logLevel": "DEBUG",
            "logSize": 5242880,
            "language": "english",
            "retrainThreshold": 1,
            "maxWaitForConnection": 120,
            "maxWaitForData": 110
        },
        "com.ibm.iis.odf.services.termclassification.matching.bg.MatcherDiscoveryService": {
            "hyphenations": "<default>",
            "replacements": "<default>",
            "wordsToIgnore": "<default>"
        }
    }
}