{
    "capabilities": {
        "com.ibm.iis.odf.capabilities.TermAssignment": {
            "assignmentThreshold": 0.8,
            "candidateThreshold": 0.4,
            "categories": "",
            "hardLimit": 100,
            "services": "com.ibm.iis.odf.services.termassignment.finley.FinleyPredictorService,com.ibm.iis.odf.services.termclassification.matching.bg.MatcherDiscoveryService,com.ibm.iis.odf.iisext.services.cbta.ClassBasedTermAssignmentService",
            "softLimit": 0
        }
    },
    "services": {
        "com.ibm.iis.odf.iisext.services.cbta.ClassBasedTermAssignmentService": {
            "SandboxCategory": "",
            "TermsWithNoBusinessMeaning": "C,I,D,T,X,BOOL"
        },
        "com.ibm.iis.odf.services.termassignment.finley.FinleyPredictorService": {
            "endpoint": "{{ ibm_infosvr_hosts.ug }}:{{ ibm_infosvr_ports.ug_console }}",
            "maxWaitForConnection": 5,
            "maxWaitForData": 3
        },
        "com.ibm.iis.odf.services.termclassification.matching.bg.MatcherDiscoveryService": {
            "hyphenations": "<default>",
            "replacements": "<default>",
            "wordsToIgnore": "<default>"
        }
    }
}