{
  "producer": {
    "bootstrap.servers": "kafka:9092",
    "acks": "all",
    "retries": "0",
    "batch.size": "16384",
    "linger.ms": "1",
    "buffer.memory": "33554432",
    "max.request.size": "10485760",
    "key.serializer": "org.apache.kafka.common.serialization.StringSerializer",
    "value.serializer": "org.apache.kafka.common.serialization.StringSerializer",
    "kafka.omrs.topic.id": "kafka-omrs-topic"
  },
  "consumer": {
    "bootstrap.servers": "kafka:9092",
    "zookeeper.session.timeout.ms": "400",
    "zookeeper.sync.time.ms": "200",
    "fetch.message.max.bytes": "10485760",
    "max.partition.fetch.bytes": "10485760",
    "key.deserializer": "org.apache.kafka.common.serialization.StringDeserializer",
    "value.deserializer": "org.apache.kafka.common.serialization.StringDeserializer",
    "kafka.omrs.topic.id": "kafka-omrs-topic"
  }
}