{"policies":[{"name":"jobCount","maxJobs":{{ hostvars[ibm_infosvr_hosts.engine].ansible_processor_vcpus }}},{"name":"CPUCap","CPUCap":80},{"name":"memoryCap","memoryCap":80},{"name":"startJob","maxJobs":1,"timeFrame":1000}]}